<!doctype html>
<html ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <script src="angular.min.js"></script>
  <script>
    function getRandomInt() {
      return 0
        + (0 | Math.random() * (1 << 30))
        + (0 | Math.random() * (1 << 53-30)) * (1 << 30);
    }
    var myApp = angular.module('myApp', []);
    function HitCtrl($scope) {
      $scope.skills = [
          {label: 'フォースソード', group: 'agility'},
          {label: 'グレネード', group: 'agility'},
          {label: '神経無知', group: 'agility'},
          {label: '原始的近接武器', group: 'agility'},
          {label: '警棒', group: 'agility'},
          {label: '素手', group: 'agility'},
          {label: 'エネルギー兵器', group: 'dexterity'},
          {label: '射出兵器', group: 'dexterity'},
          {label: '原始的投擲兵器', group: 'dexterity'},
          {label: '車載照準兵器', group: 'dexterity'},
          {label: '車載フィールド兵器', group: 'dexterity'},
          {label: '車載射出兵器', group: 'dexterity'}
      ];
      $scope.skill_list = $scope.skills[6];
      $scope.pointblack_toggle = function(){
        if($scope.skill_list.group == 'agility'){
          $scope.pointblank = 0;
        }
      };
      $scope.die_roll = function(){
        var d20 = getRandomInt() % 20 +1;
        if(!$scope.pointblank){$scope.pointblank = 0;}
        if(!$scope.skill_score){$scope.skill_score = 0;}
        if(!$scope.wound){$scope.wound = 0;}
        if(!$scope.dodge){$scope.dodge = 0;}
        if(!$scope.gm_modify){$scope.gm_modify = 0;}
        var final_score = ($scope.skill_score-0) + ($scope.pointblank-0) + ($scope.wound-0)+($scope.dodge-0)+($scope.gm_modify-0);
        var result = d20<=final_score ? '成功!' : '失敗!';
        if(d20 == 20){result='ファンブル!!'; }
        if(d20 ==  1){result='クリティカル!!';}
        $scope.result = '最終スコア:' + final_score
          + ' / D20(' + d20 + ')'
          + ' / 結果:' + result
          + ' / マージン:' + (final_score-d20);
      }
    }
  </script>
</head>
<body>
  <h1>Paranoia 2nd - 執事ボット for ULTRAVIOLETS -</h1>
  <hr />
  <h2>命中判定</h2>
  <div ng-controller="HitCtrl">
    <label>スキル</label>
    <select ng-model="skill_list" ng-change="pointblack_toggle()" ng-options="skill_list.label group by skill_list.group for skill_list in skills"></select>
    <label>スキルスコア</label>
    <select ng-model="skill_score">
      <option ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]" ng-selected="i==0" value="{{i}}">{{i}}
    </select>
    <div>
      <label><input type="checkbox" ng-model="pointblank" ng-true-value="4" ng-false-value="0" ng-disabled="skill_list.group=='agility'">至近距離</label>
      <label><input type="checkbox" ng-model="wound" ng-true-value="-4" ng-false-value="0">攻撃側負傷中</label>
      <label><input type="checkbox" ng-model="dodge" ng-true-value="-4" ng-false-value="0">防御側回避中</label>
    </div>
    <div>
      <label>GM修正</label>
      <select ng-model="gm_modify">
        <option ng-repeat="i in ['-5',-4,-3,-2,-1,0,1,2,3,4,5]" ng-selected="i==0" value="{{i}}">{{i}}
      </select>
      <input type="button" value="Roll --&gt;" ng-click="die_roll()">{{result}}
    </div>
  </div>
<hr />
<h1>TODO</h1>
<blockquote><pre>
・命中判定
　・命中個所の表示
　・有効射程と難易度の追加
・ダメージ計算
　・オリジナル武器用の入力補助
　　・既知武器（テンプレ）対応
　・ダメージテーブルのデータ追加
</pre></blockquote>
<hr />
<blockquote><pre>
・このページには、Javascript(AngularJS)を、利用しています。
・Javascriptの乱数は、Math.random()の精度が悪いため拡張しています。
・このHTML文書は、ChietherがMITライセンスで提供しています。
・改善要望等は、@chiether か https://github.com/Chiether/paranoia2nd-gm-tool/issues までご連絡ください。
</pre></blockquote>
</body>
</html>
